body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.common-input {
  background-color: #333333;
  border: none;
  border-radius: 15px;
  height: 48px;
  font-size: 14px;
  color: #c5c5c5;
  caret-color: #ffffff;
  padding: 0 10px;
}

.common-input:focus {
  outline: none;
}

.common-btn {
  background-color: #ffffff;
  border-radius: 9999px;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  cursor: pointer;
}
